.nf-debug{
    border: 1px solid red;
}

.odd{
    background: #1abc9c;
}

.footer-bottom{
    background: #2c3e50;
}

.nav-link a{
    text-transform: uppercase;
}

#navbarNav a.nav-link{
    color: white;
}

#navbarNav a.nav-link:hover{
    color: #1abc9c;
}

/* main */

.logo-hero{
    max-width: 15%;
}

.odd{
    color: white;
}

.star-line{
    width: 10%;
    border-bottom: 2px solid white
}

.star-line-even{
    width: 10%;
    border-bottom: 2px solid #2c3e50;
}

main i{
    font-size: 1.5rem;
}